<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <h2>게시글 목록</h2>
            <tr>
                <th>#</th>
                <th>작성자 아이디</th>
                <th>글 제목</th>
                <th>작성 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.member.memberName}"></td>
                <td>
                    <a th:text="${post.title}" th:href="@{/post/{id} (id=${post.id})}"></a>
                </td>
                <td th:text="${post.postDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>